<!DOCTYPE html>
html
	head
		meta(charset= 'utf-8')
		title dz-1
		meta(content ="" name ='author')
		meta(content ="" name ='description')
		meta(content ="" name ='width=device-width, initial-scale=1')
		meta(content ="" name ='keyword')
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		link(rel='stylesheet' href='/assets/css/foundation.css')
		link(rel='stylesheet' href='/assets/css/app.css')
		script(src='/assets/js/foundation.js' defer)
		script(src='/assets/js/app.js' defer)
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
	body
		h1 HUY HUY dffsdf

